<mat-toolbar color="primary">
  <button mat-button [matMenuTriggerFor]="menu">
    <span class="material-icons">
      menu
    </span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/Juegos">Menú de Juegos</button>
    <button mat-menu-item routerLink="/Juegos/Adivina">Adivina</button>
    <button mat-menu-item routerLink="/Juegos/Agilidad">Agilidad</button>
    <button mat-menu-item routerLink="/Juegos/AdivinaMasListado">Adivina+listado</button>
    <button mat-menu-item routerLink="/Juegos/AgilidadaMasListado">Agilidad+listado</button>
  </mat-menu>
  <span routerLink="/Principal"> Inicio</span>

  <span class="example-spacer"></span>
  <a href="/Login">
    <span class="material-icons">
      exit_to_app
    </span>
  </a>
</mat-toolbar>
