<app-cabecera> </app-cabecera>



<div class="container box">

    <mat-card class="card-menu"  routerLink="/Juegos">
      <!-- <img src="./assets/imagenes/saladejuegos.png" class="media-object imagenDeMenu"> -->
      <mat-card-content class="center-text">
        <span class="material-icons icon">
          videogame_asset
          </span>
          <h4>Juegos</h4>
          <p>El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los
            estudiantes
            que están inmersos en el proceso de aprendizaje.</p>
          </mat-card-content>
    </mat-card>

    <mat-card class="card-menu" routerLink="/Listado"> 
      <!-- <img src="./assets/imagenes/listado.jpg" class="media-object imagenDeMenu"> -->
      <mat-card-content class="center-text">
        <span class="material-icons icon">
          list_alt
          </span>
          <h4>Listados de resultados</h4>
          <p>Los listados de los resultados con ordenamiento y busqueda.</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="card-menu" routerLink="/Listado">
      <!-- <img src="./assets/imagenes/Configuracion.png" class="media-object imagenDeMenu"> -->
      <mat-card-content class="center-text">
        <span class="material-icons icon">
          toggle_on
          </span>
          <h4>Configuración</h4>
          <p>Ajustes de la aplicacion y los métodos de autentificación.</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="card-menu"  routerLink="/Jugadores">
      <!-- <img src="./assets/imagenes/jugadores.png" class="media-object imagenDeMenu"> -->
      <mat-card-content class="center-text">
        <span class="material-icons icon">
          sports_kabaddi
          </span>
          <h4>Jugadores</h4>
          <p>Listado de jugadores.</p>
        </mat-card-content>
    </mat-card>



</div>